{#СТРАНИЦА БЛАГОДАРОНСТИ#}
{% extends 'base.html' %}
{% block content %}
    <div class="row card-gratitude-row d-flex justify-content-center my-3">
        <div class="col-sm-auto col-lg-12 mb-3">
            <div class="card-gratitude">
                <div class="card-body d-flex flex-column p-0">
                    <div class="row mb-5">
                        <div class="col-12 col-md-7">
                            <div class="card-gratitude-header">Спасибо, что оставили заявку</div>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-12 col-md-5">
                            <div class="card-gratitude-text">Мы обязательно свяжемся с вами в ближайщее время, и обсудим все детали вашего проекта</div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-12 col-md-5">
                            <button onclick="location.href='/';" type="button" class="btn card-gratitude-button">Вернуться на главную <img class="ms-3" src="./assets/images/arrow-1.svg" alt=""></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
