.card-big {
    --bs-card-spacer-y: 40px;
    --bs-card-spacer-x: 40px;
    --bs-card-border-width: 1px;
    --bs-card-border-color: black;
    --bs-card-border-radius: 30px;
    --bs-card-height: 240px;
    --bs-card-width: 405px;
    --bs-card-color: #0F0006;
    --bs-card-bg: #F5F5F5;
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 30px 55px 20px 20px;
    min-width: 0;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) 
        solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
    box-shadow: -2px 2px 0px #0F0006;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    line-height: 100%;
    text-transform: uppercase;
    @media (min-width: 1280px) { 
        #svg_img {
            visibility: visible;
            display: block;
        }
        width: 837px;
        height: 389px;
        font-size: 40px;
    };
    @media (max-width: 1280px) { 
        #svg_img {
            visibility: hidden;
            display: none;
        }
        width: 350px;
        height: 310px;
        font-size: 22px;
    };
}

.card-small {
    --bs-card-spacer-y: 40px;
    --bs-card-spacer-x: 40px;
    --bs-card-border-width: 1px;
    --bs-card-border-color: black;
    --bs-card-border-radius: 30px;
    --bs-card-height: 240px;
    --bs-card-width: 405px;
    --bs-card-color: #F5F5F5;
    --bs-card-bg: #CC0047;
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 30px 55px 20px 20px;
    min-width: 0;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) 
        solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
    box-shadow: -2px 2px 0px #0F0006;
    font-size: 16px;
    line-height: 140%;
    font-style: normal;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    @media (min-width: 1280px) { 
        width: 405px;
        height: 405px;
    };
    @media (max-width: 1280px) { 
        width: 354px;
        height: 405px;
    };
}

.card-small h5 {
    font-family: 'Inter',sans-serif;
    line-height: 100%;
    font-size: 28px;
}

.card-small p {
    font-family: 'Inter', sans-serif;
    line-height: 140%;
    font-size: 16px;
}

.header-font-size {
    line-height: 100%;
    text-transform: uppercase;
    @media (min-width: 1280px) { 
        font-size: 50px;
    };
    @media (max-width: 1280px) {
        font-size: 28px;
    };
}